# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: '1.21'
    - name: Install dependencies
      run: |
        go mod vendor

    - name: Build
      run: go build -mod=readonly -v -o google_cloud_sap_agent cmd/local/main.go

    - name: Test
      run: go test -v ./...

    - name: Notify on failure
      if: ${{ failure() }}
      uses: cinotify/github-action@v1.1.0
      with:
        to: 'sapagent-github-dev@google.com'
        subject: '[Failure] GitHub Agent for SAP build failure'
        body: 'There was a failure for the GitHub Agent for SAP workflow action.\n\n https://github.com/GoogleCloudPlatform/sapagent/actions/runs/${{ github.run_id }}'
